environment: {{ env "SKAFFOLD_PROFILE" | default "staging" }}
chart:
  name: bndigital/app
  version: 1.2.9
imageRegistry:
  url: dcr.bndigital.dev
app:
  name: app
  instance: cms
  version: {{ env "GITHUB_SHA" | default "latest" }}
ingress:
  domain: bndigital.dev
healthcheck:
  port: 443
  path: /graphql
replicaCount: 1
serviceAccount:
  name: bndigital-app
